<h2 class="page-header">New book</h2> 
<form method="post" action="/books">
    <%- include('_form-fields') %>
    
    <a href="/books" class="btn btn-primary">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>