<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color: #f2f2f2;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .field-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #449A44;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-shortener | <%= title %></title>
</head>
<body>
    <h1>Log In</h1>
    <div class="container">
        <form action="/user/login" method="post">
            <div class="field-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="field-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
            </div>
            <!-- <div class="field-group">
              <label for="passwordConfirmation">Confirm Password:</label>
              <input type="password" id="passwordConfirmation" name="passwordConfirmation" required>
            </div> -->
        
            <button type="submit">Sign Up</button>
    </div>
</body>
</html>